.sidebar{
    position: fixed;
    bottom: 0;
    left: 0px;
    background-color: white;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 10px;
}

.sidebar-link{
    height: 141px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 30px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 10.5px;
}