.thumbnail{
    width: 100%;
}

.thumbnail_container{
    margin-bottom: 8px;
    position: relative;
}

.video-duration{
    position: absolute;
    right: 5px;
    bottom: 8px;
    color: white;
    background-color: black;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-top: 4px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
}

.channel_profile{
    width: 36px;
    border-radius: 50px;
    object-fit: cover;
}

.vid_title{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0px;
}

.channel_name{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
    margin-bottom: 4px;
}

.vid_stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.infoandprofile{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.webpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    margin-bottom: 30px;
}

@media(max-width: 1020px){
    .webpage{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1021px){
    .webpage{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
